.logbox{
    display: flex;
    justify-content: space-evenly;
}
.box1{
    height: 500px;
    width: 35%;
    background-color: #fff0f3;
    color: #590d22;
    font-weight: bolder;
    font-size: 4.5rem;
    position: relative;
    top: 100px;
    left: 100px;
}
.box2{
    height: 500px;
    width: 40%;
    background-color: white;
    margin-top: 5%;
}
.username,.pwd{
    margin-left: 90px;
    margin-top: 50px;
    font-size: 1.5rem;
    color: #a4133c;
    font-weight: bold;
}
#username,#password,#submit{
    width: 40%;
    height: 40px;
    border: transparent;
    background-color: #fff0f3;
    margin-left: 90px;
    font-size: 1.5rem;
    color: #800f2f;
}
#submit{
    width: 20%;
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 145px;
}
#back{
    color: #590d22;
}
#sign{
    margin-left: 145px;
    font-size: 1.2rem;
    align-items: center;
    color: #590d22;
    border: none;
}
#buton{
    width: 20%;
    height: 30px;
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 145px;
    color: #800f2f;
    border: none;
    background-color: #fff0f3;
}
